
<div>

    <br><br>
    <h2> SpaceX Data </h2>
    <div class="game">
        <table class="table" border="1px">
            <tr>
                
                <td><b>Mission Name</b></td>
                <td><b>Mission Id</b></td>
                <td><b>Manufacturers</b></td>
                <td><b>Payload Ids</b></td>
                <td class="dee"><b>Wikipedia</b></td>
                <td class="dee"><b>Website</b></td>
                <td class="dee"><b>Twitter</b></td>
                <td><b>Description</b></td>
        
            </tr>
            <tr *ngFor="let item of data">
                
                <td>{{item.mission_name}}</td>
                <td>{{item.mission_id}}</td>
                <td>{{item.manufacturers}}</td>
               <td>{{item.payload_ids}}</td>
                <td class="dee">{{item.wikipedia}}</td>
                <td class="dee">{{item.website}}</td>
                <td class="dee">{{item.twitter}}</td>
                <td>{{item.description}}</td>
            </tr>
        </table>
    
    </div>

    <br><br>
</div>

